<div class="container">
  <%= @application.as_json %>
  <ul>
    <li><%= link_to "Web Books", books_path %></li>
    <li><%= link_to "API V1 Books", api_v1_books_path %></li>
    <li><%= link_to "API V1 Android Books", api_v1_android_books_path %></li>
  </ul>
</div>